<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticketing_System_Forms.Properties.Settings.NRPAConnectionString" connectionString="Data Source=WRSAA250676-FW9\TICKETING;Initial Catalog=NRPA;Persist Security Info=True;User ID=sa;Password=rpasys1!" providerName="System.Data.SqlClient"/>
        <add name="LocalDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WRSBP185150-J7T\SQLEXPRESS;initial catalog=LocalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="Ticketing_System_Forms.Properties.Settings.LocalDBConnectionString" connectionString="Data Source=WRSBP185150-J7T\SQLEXPRESS;Initial Catalog=LocalDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
